.header-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.navbar {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    position: relative;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-brand {
    font-size: 24px;
}

.navbar-toggler {
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

.navbar-menu {
    display: flex;
    gap: 20px;
}

.navbar-item {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    transition: background 0.3s;
}

.navbar-item:hover {
    background: #555;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar-toggler {
        display: block;
    }

    .navbar-menu {
        background-color: #333;
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 50px;
        left: 0;
    }

    .navbar-menu.open {
        display: flex;
    }

    .navbar-item {
        text-align: center;
    }
}