.post-card {
    border: 1px solid tomato;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.card-child {
    margin-bottom: 10px;
}

.btn {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 50%;
    margin: auto;
    padding: 5px 10px;
    cursor: pointer;
    background-color: goldenrod;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
}

.btn:hover {
    background-color: rgb(192, 139, 6);
    color: gainsboro;
}